.signup{
    background-color: aqua;
    border-radius: 25px;
    border:none;
    width:100px;
    height:40px;
  }


  .navbar{
    margin-bottom: 5%;
  }


  @media (max-width: 600px) {





  .navbarCollapse{
    background-color: hsl(257, 27%, 26%);
    border-radius: 5%;
    text-align: center;
    height:400px;
  }

  .navbarLink{
    color: white;
    margin-bottom: 5%;
    margin-top: 5%;

  }
  .signup{
    width:80%;
    height:50px;
  }

}