.linkinput{

        background-color: hsl(257, 27%, 26%);
        background-image: url('/images/bg-shorten-desktop.svg');
        background-repeat:no-repeat;
        height:150px;
        width:900px;
        border-radius: 15px;

            
}

.results{

}